# Môi trường Database
DB_HOST=localhost
DB_PORT=5432
DB_USER=gym_admin
DB_PASSWORD=GymSecretPassword2026!
DB_NAME=gym_management_db

# Môi trường pgAdmin (Trang quản trị Database)
PGADMIN_EMAIL=admin@gym.com
PGADMIN_PASSWORD=admin